html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  min-height: 100vh;

  background-color: #eee3ce;

  /* leva i desna filmska traka */
  background-image:
    repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 6px,
      #eee3ce 6px,
      #eee3ce 16px,
      transparent 16px,
      transparent 25px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 6px,
      #eee3ce 6px,
      #eee3ce 16px,
      transparent 16px,
      transparent 25px
    ),
    linear-gradient(#29251f, #29251f),
    linear-gradient(#29251f, #29251f);

  background-size:
    11px 25px,
    11px 25px,
    42px 100%,
    42px 100%;

  background-position:
    7px 0,
    calc(100% - 7px) 0,
    left top,
    right top;

  background-repeat:
    repeat-y,
    repeat-y,
    no-repeat,
    no-repeat;
}